.hero {
  background: linear-gradient(rgba(10,61,98,0.65), rgba(10,61,98,0.65)),
              url('assets/hero.jpg') center/cover no-repeat;
  min-height: 100vh;       /* full screen height */
  display: flex;           /* center content */
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */
  text-align: center;
}
.hero h1, .hero p {
  color: #fff;
}
.contact-hero {
  background: linear-gradient(rgba(10,61,98,0.65), rgba(10,61,98,0.65)),
              url('assets/contact-bg.jpg') center/cover no-repeat;
  min-height: 60vh;        /* covers 60% of screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.about-hero {
  background: linear-gradient(rgba(10,61,98,0.65), rgba(10,61,98,0.65)),
              url('assets/about-bg.jpg') center/cover no-repeat;
  min-height: 100vh;        /* covers 40% of screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.admission-hero {
  background: linear-gradient(rgba(10,61,98,0.65), rgba(10,61,98,0.65)),
              url('assets/admission-bg.jpg') center/cover no-repeat;
  min-height: 60vh;        /* covers 60% of screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
